@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
    --font-poppins: 'Poppins', sans-serif;
    --background-pink: rgb(255, 233, 237);
    --background-white: white;
    --font-color-primary: #161212;
    --color-button: rgb(247, 90, 90);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    background-color: var(--background-pink);
}  

.cabecalho-logo-titulo{
    display: flex;
    flex: row;
    /* align-content: flex-start; */
    padding-left: 30px;
} 

.cabecalho-titulo{
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 24px;
    color: var(--font-color-primary);
    margin-left: 10px;
}

.cabecalho-navegacao{
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.cabecalho-navegacao-item{
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: var(--font-color-primary);
}

.conteudo{
}

.conteudo-primario{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding: 20px;
    height: 100vh;
    background-color: var(--background-pink);
    padding-left: 45px;
    justify-content: space-around;
}

.conteudo-primario-escrito{
    display: flex;
    flex-direction: column;
}

.conteudo-primario-titulo{
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 15px;
}

.conteudo-primario-paragrafo{
    font-family: var(--font-color-primary);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

.conteudo-botao-doacao{
    border: none;
    background-color: rgb(247, 90, 90);
    border-radius: 15px;
    padding: 20px;
    color: var(--background-white);
    font-size: 18px;
}

.conteudo-botao-doacao:hover{
    color: var(--font-color-primary);
    transition: 1s;
}

.conteudo-primario-imagem{
    width: 550px;
    height: 350px;
}

.conteudo-secundario{
    background-color: var(--background-white);
    height: 100vh;
}

.conteudo-secundario-textos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo-secundario-titulo{
    font-family: var(--font-poppins);
    color: var(--font-color-primary);
    font-size: 48px;
    margin-bottom: 15px;
}

.conteudo-secundario-paragrafo{
    font-family: var(--font-poppins);
    color: var(--font-color-primary);
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.conteudo-secundario-lista{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.conteudo-secundario-lista-item{
    justify-content: space-around;
    align-content: center;
}

.conteudo-secundario-escrito-subtitulo{
    font-family: var(--font-poppins);
    color: var(--font-color-primary);
    font-size: 20px;
    text-align: center;
}

.conteudo-secundario-escrito-paragrafo{
    font-family: var(--font-poppins);
    color: var(--font-color-primary);
    font-size: 16px;
    text-align: center;
}

.conteudo-final{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: var(--background-pink);
    justify-content: center;
    padding-top: 80px;
}

.conteudo-final-imagem{
    width: 550px;
    height: 450px;
}

.conteudo-final-textos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    margin-top: 50px;
}

.conteudo-final-titulo{
    font-family: var(--font-poppins);
    color: var(--font-color-primary);
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

.conteudo-final-paragrafo{
    font-family: var(--font-poppins);
    color: var(--font-color-primary);
    font-size: 16px;
    margin-bottom: 18px;
    text-align: center;
}

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-white);
    padding: 40px;
}

.rodape-logo-titulo{
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}

.rodape-titulo{
    font-family: var(--font-poppins);
    color: var(--font-color-primary);
    font-size: 24px;
    margin-left: 10px;
}

.rodape-icones{
    display: flex;
    flex: row;
    justify-content: space-around;
    gap: 40px;
}

.rodape-icones-itens{
    border-radius: 100px;
    background-color: var(--background-pink);
}